<?xml version="1.0" encoding="UTF-8"?>
      <d2p1:Event>
         <d2p1:EndDate></d2p1:EndDate>
         <d2p1:Id></d2p1:Id>
         <d2p1:Info />
         <d2p1:Name></d2p1:Name>
         <d2p1:Price></d2p1:Price>
         <d2p1:Promoter></d2p1:Promoter>
         <d2p1:StartDate></d2p1:StartDate>
         <d2p1:Type></d2p1:Type>
         <d2p1:Url></d2p1:Url>
         <d2p1:Venue />
      </d2p1:Event>
   